{% schema %}
{
  "name": "Contenedor Reja",
  "tag": "section",
  "class": "contenedor-reja",
  "settings": [
    
     {
      "type": "color",
      "id": "color_fondo",
      "label": "Background color",
      "default": "#002554"
    },
    {
          "type": "select",
           "id": "clase_titulo",
           "label": "Font family",
           "options": [
             {
               "value": "Titulo-Nickson-four-h3",
               "label": "Nickson Four"
             },
             {
               "value": "Titulo-Nickson-six-h3",
               "label": "Nickson Six"
             },   
           ],
           "default": "Titulo-Nickson-four-h3"
    },
    {
          "type": "color",
          "id": "color_titulo",
          "label": "Title color",
          "default": "#C9A76D"
    },
    {
      "type": "color",
      "id": "color_texto",
      "label": "Color text",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "imagen_fondo-1",
      "label": "Image"
    },
     {
          "type": "text",
          "id": "titulo-1",
          "label": "Title",
          "default": "Family-Owned Farms"
    },
    {
      "type": "richtext",
      "id": "texto-1",
      "label": "Text",
      "default": "<p>Partnering with multi-generational farms rooted in tradition.</p>"
    },
    {
      "type": "image_picker",
      "id": "imagen_fondo-2",
      "label": "Image"
    },
     {
          "type": "text",
          "id": "titulo-2",
          "label": "Title",
          "default": "Sustainable Practices"
    },
    {
      "type": "richtext",
      "id": "texto-2",
      "label": "Text",
      "default": "<p>Emphasizing regenerative agriculture and animal welfare.</p>"
    },
    {
      "type": "image_picker",
      "id": "imagen_fondo-3",
      "label": "Image"
    },
     {
          "type": "text",
          "id": "titulo-3",
          "label": "Title",
          "default": "Collaboration"
    },
    {
      "type": "richtext",
      "id": "texto-3",
      "label": "Text",
      "default": "<p>Working hand-in-hand to achieve the highest standards in organic dairy.</p>"
    },
    {
      "type": "image_picker",
      "id": "imagen_fondo-4",
      "label": "Image"
    },
    {
          "type": "text",
          "id": "titulo-4",
          "label": "Title",
          "default": "Shared Vision"
    },
    {
      "type": "richtext",
      "id": "texto-4",
      "label": "Text",
      "default": "<p>Supporting vibrant rural communities and a healthier planet.</p>"
    }
    
 
  ],
  "presets": [    
    {
      "name": "Contenedor Reja"
    }
  ]
}
{% endschema %}

<div class="contenedor-general-reja" style="background-color: {{ section.settings.color_fondo }};">
    <div class="contenedor-interior-bloque-reja">
       <div class="contenedor-imagen-reja"
       style="
         background-image: url('{% if section.settings.imagen_fondo-1 != blank %}{{ section.settings.imagen_fondo-1 | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0355/3873/1067/files/Portada-seccicion-1.jpg?v=1742925268{% endif %}');
         background-size: cover;
         background-position: center;
       ">
       </div>
      <div class="contenedor-texto-reja">
         <h1 class="{{ section.settings.clase_titulo }}" style="color: {{ section.settings.color_titulo }};"> {{ section.settings.titulo-1 }}</h1>
         <div class="Texto-Poppinds-p" style="color: {{ section.settings.color_texto }};">{{ section.settings.texto-1 }}</div>
      </div>
    </div>
    <div class="contenedor-interior-bloque-reja">
       <div class="contenedor-imagen-reja"
       style="
         background-image: url('{% if section.settings.imagen_fondo-2 != blank %}{{ section.settings.imagen_fondo-2 | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0355/3873/1067/files/Portada-seccicion-2.jpg?v=1742925293{% endif %}');
         background-size: cover;
         background-position: center;
       ">
       </div>
      <div class="contenedor-texto-reja">
         <h1 class="{{ section.settings.clase_titulo }}" style="color: {{ section.settings.color_titulo }};"> {{ section.settings.titulo-2 }}</h1>
         <div class="Texto-Poppinds-p" style="color: {{ section.settings.color_texto }};">{{ section.settings.texto-2 }}</div>
      </div>
    </div>
    <div class="contenedor-interior-bloque-reja">
       <div class="contenedor-imagen-reja"
       style="
         background-image: url('{% if section.settings.imagen_fondo-3 != blank %}{{ section.settings.imagen_fondo-3 | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0355/3873/1067/files/Portada-seccicion-3.jpg?v=1742925313{% endif %}');
         background-size: cover;
         background-position: center;
       ">
       </div>
      <div class="contenedor-texto-reja">
         <h1 class="{{ section.settings.clase_titulo }}" style="color: {{ section.settings.color_titulo }};"> {{ section.settings.titulo-3 }}</h1>
         <div class="Texto-Poppinds-p" style="color: {{ section.settings.color_texto }};">{{ section.settings.texto-3 }}</div>
      </div>
    </div>
    <div class="contenedor-interior-bloque-reja">
       <div class="contenedor-imagen-reja"
       style="
         background-image: url('{% if section.settings.imagen_fondo-4 != blank %}{{ section.settings.imagen_fondo-4 | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0355/3873/1067/files/Portada-seccicion-4.jpg?v=1742925328{% endif %}');
         background-size: cover;
         background-position: center;
       ">
       </div>
      <div class="contenedor-texto-reja">
         <h1 class="{{ section.settings.clase_titulo }}" style="color: {{ section.settings.color_titulo }};"> {{ section.settings.titulo-4 }}</h1>
         <div class="Texto-Poppinds-p" style="color: {{ section.settings.color_texto }};">{{ section.settings.texto-4 }}</div>
      </div>
    </div>
 
   
</div>

<style>
  
  .contenedor-general-reja {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: calc(2rem + 1vw);;
    padding: var(--Padding-bloque);
    padding-top: 7rem;
  }

  .contenedor-interior-bloque-reja {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: calc(30rem + 1vw);;
    width: calc(43rem + 2vw);
  }

  .contenedor-imagen-reja {
    height: 21rem;
    width: 100%;
  }

  .contenedor-texto-reja {
    padding: 1rem 0;
  }


</style>