{% schema %}
{
  "name": "Slider Swiper",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "navigation_type",
      "label": "Type of navigation",
      "options": [{ "value": "bullets", "label": "Bullets" }],
      "default": "bullets"
    },
    {
      "type": "color",
      "id": "color_navegacion",
      "label": "Navigation color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": "Automatic rotation",
      "default": true
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Rotation speed (seconds)",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show background with gradient layer",
      "default": false
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "Coat color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "opacity_overlay",
      "label": "Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Desktop image"
        },
        {
          "type": "image_picker",
          "id": "image_tablet",
          "label": "Tablet background image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile background image"
        },
        {
          "type": "range",
          "id": "ancho_contenedor",
          "label": "Container width",
          "min": 400,
          "max": 1000,
          "step": 10,
          "default": 650,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "titulo",
          "label": "Título",
          "default": "This is a title"
        },
        {
          "type": "select",
          "id": "clase_titulo",
          "label": "Font family",
          "options": [
            { "value": "Titulo-Nickson-four-h1-portada", "label": "Nickson Four-Big" },
            { "value": "Titulo-Nickson-six-h1-portada", "label": "Nickson Six-Big" },
            { "value": "Titulo-Nickson-six-h1", "label": "Nickson Six-H1" },
            { "value": "Titulo-Nickson-four-h1", "label": "Nickson Four-H1" }
          ],
          "default": "Titulo-Nickson-four-h1"
        },
        {
          "type": "color",
          "id": "color_titulo",
          "label": "Title color",
          "default": "#002554"
        },
        {
          "type": "checkbox",
          "id": "ocultar_subtito",
          "label": "Hide subtitle",
          "default": false
        },
        {
          "type": "text",
          "id": "subtitulo",
          "label": "Subtitle",
          "default": "This is a subtitle"
        },
        {
          "type": "select",
          "id": "clase_subtitulo",
          "label": "Font family",
          "options": [
            { "value": "Titulo-Nickson-four-h2", "label": "Nickson Four-H2" },
            { "value": "Titulo-Nickson-six-h2", "label": "Nickson Six-H2" }
          ],
          "default": "Titulo-Nickson-six-h2"
        },
        {
          "type": "color",
          "id": "color_subtitulo",
          "label": "Subtitle color",
          "default": "#C9A76D"
        },
        {
          "type": "richtext",
          "id": "texto",
          "label": "Text",
          "default": "<p>This is an example of text</p>"
        },
        {
          "type": "color",
          "id": "color_texto",
          "label": "Color text",
          "default": "#666666"
        },
        {
          "type": "checkbox",
          "id": "ocultar_botones",
          "label": "Hide buttons",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "mostrar_dos_botones",
          "label": "Show second button",
          "default": false
        },
        {
          "type": "text",
          "id": "texto_boton_1",
          "label": "Texto del Botón 1",
          "default": "More information"
        },
        {
          "type": "url",
          "id": "enlace_boton_1",
          "label": "Link button 1"
        },
        {
          "type": "color",
          "id": "color_boton_1",
          "label": "Color botton 1",
          "default": "#002554"
        },
        {
          "type": "color",
          "id": "color_texto_boton_1",
          "label": "Text color botton 1",
          "default": "#FFFFFF"
        },
        {
          "type": "checkbox",
          "id": "boton_1_transparente",
          "label": "Make transparent button",
          "default": false
        },
        {
          "type": "text",
          "id": "texto_boton_2",
          "label": "Text botton 2",
          "default": "Contact"
        },
        {
          "type": "url",
          "id": "enlace_boton_2",
          "label": "Link botton 2"
        },
        {
          "type": "color",
          "id": "color_boton_2",
          "label": "Color botton 2",
          "default": "#002554"
        },
        {
          "type": "color",
          "id": "color_texto_boton_2",
          "label": "Text botton 2",
          "default": "#002554"
        },
        {
          "type": "checkbox",
          "id": "boton_2_transparente",
          "label": "Make transparent button",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Swiper",
      "category": "Imágenes",
      "blocks": [{ "type": "image" }, { "type": "image" }]
    }
  ]
}
{% endschema %}

{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

<div
  class='swiper-container js-slider'
  data-autorotate='{{ section.settings.autorotate }}'
  data-speed='{{ section.settings.autorotate_speed | times: 1000 }}'
  style='overflow: hidden;'
>
  <div class='swiper-wrapper'>
    {% for block in section.blocks %}
      <div class='swiper-slide' style='height: 84rem;'>
        {% if block.settings.image_desktop == blank %}
          <div class='swiper-background'></div>
        {% else %}
          <picture>
            {% if block.settings.image_mobile %}
              <source media='(max-width: 749px)' srcset='{{ block.settings.image_mobile | image_url }}'>
            {% endif %}
            {% if block.settings.image_tablet %}
              <source media='(max-width: 1023px)' srcset='{{ block.settings.image_tablet | image_url }}'>
            {% endif %}
            <img
              src='{{ block.settings.image_desktop | image_url: width: 3840 }}'
              alt='{{ block.settings.image_desktop.alt | escape }}'
              style='width: 100%; height: 100%; object-fit: cover;'
            >
          </picture>
        {% endif %}

        {% if section.settings.show_overlay %}
          <div
            class='overlay'
            style='
              background-color: {{ section.settings.color_overlay }};
              opacity: {{ section.settings.opacity_overlay }}%;
            '
          ></div>
        {% endif %}

        <div class='swiper__wrapper-content page-width'>
          <div
            class='contenedor-interior-unicolumna-lateral'
            style='
              width: {{ block.settings.ancho_contenedor }}px;
              background-color: {% if block.settings.fondo_transparente %}transparent{% else %}{{ block.settings.color_contenedor }}{% endif %};
              padding: 2rem;
            '
          >
            {% if block.settings.titulo != blank %}
              <h1 class='{{ block.settings.clase_titulo }}' style='color: {{ block.settings.color_titulo }};'>
                {{ block.settings.titulo }}
              </h1>
            {% endif %}

            {% unless block.settings.ocultar_subtito %}
              {% if block.settings.subtitulo != blank %}
                <h2 class='{{ block.settings.clase_subtitulo }}' style='color: {{ block.settings.color_subtitulo }};'>
                  {{ block.settings.subtitulo }}
                </h2>
              {% endif %}
            {% endunless %}

            {% if block.settings.texto != blank %}
              <div class='Texto-Poppinds-p' style='color: {{ block.settings.color_texto }};'>
                {{ block.settings.texto }}
              </div>
            {% endif %}
            {% unless block.settings.ocultar_botones %}
              <div class='contenedor-interior-botones-unicolumna-lateral'>
                {% if block.settings.texto_boton_1 != blank %}
                  <a
                    href='{{ block.settings.enlace_boton_1 | default: '#' }}'
                    class='boton-portada'
                    style='background-color: {% if block.settings.boton_1_transparente %} transparent {% else %}{{ block.settings.color_boton_1 }}{% endif %}; color: {{ block.settings.color_texto_boton_1 }}; border: 2px solid {{ block.settings.color_boton_1 }};'
                  >
                    {{ block.settings.texto_boton_1 }}
                  </a>
                {% endif %}
                {% if block.settings.mostrar_dos_botones and block.settings.texto_boton_2 != blank %}
                  <a
                    href='{{ block.settings.enlace_boton_2 | default: '#' }}'
                    class='boton-portada'
                    style='background-color: {% if block.settings.boton_2_transparente %} transparent {% else %}{{ block.settings.color_boton_2 }}{% endif %}; color: {{ block.settings.color_texto_boton_2 }}; border: 2px solid {{ block.settings.color_boton_2 }};'
                  >
                    {{ block.settings.texto_boton_2 }}
                  </a>
                {% endif %}
              </div>
            {% endunless %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if section.settings.navigation_type == 'bullets' %}
    <div class='swiper-pagination'></div>
  {% else %}
    <div class='swiper-button-prev'></div>
    <div class='swiper-button-next'></div>
  {% endif %}
</div>

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    const slider = document.querySelector('.swiper-container');

    if (slider) {
      const loop = slider.getAttribute('data-autorotate') === 'true';
      const delay = parseInt(slider.getAttribute('data-speed'), 10);

      const swiper = new Swiper('.swiper-container', {
        loop: loop,
        autoplay: loop ? { delay: delay } : false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    }
  });
{% endjavascript %}

{% style %}
     /* Configuración del estilo base de swiperjs */
     :root {
        {% if section.settings.color_animation %}
           --swiper-theme-color: {{ section.settings.color_animation }};
        {% else %}
           --swiper-theme-color: {{ settings.color_primary }};
        {% endif %}
        --swiper-navigation-size: 25px;
     }

     /* Quitar elementos de navegación cuando hay solamente 1 slide*/
     {% if section.blocks.size == 1 %}
        .swiper-button-next, .swiper-button-prev, .swiper-pagination {
           display: none;
        }
     {% endif %}

     /* TODO: Adaptaciones específicas para el tema Narrative */
     .feature-row__heading::before {
        display: none;
     }

     /* CSS específico para el slider */
     .swiper-background {
        width: 100%;
        height: 100%;
        background: url({{ '@gohsantosa2.jpg' | asset_url }}); /* Imagen de background que se encuentra en la carpeta assets */
        background-size: 50% 50%;
        background-size: contain;
     }

     .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
     }

     .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.3;
     }

     .swiper__wrapper-content {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
     }

   .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: unset !important;
      top: unset !important;
      left: 0;
      width: 100%;
      margin-top: -7rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
  }

  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }


  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullet {
    color: {{ section.settings.color_navegacion }} !important;
    background-color: {{ section.settings.color_navegacion }} !important;
  }


  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-button-prev {
    left: 10px;

  }

  .swiper-button-next {
    right: 10px;
  }


  .responsive-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Mobile */
  @media screen and (max-width: 749px) {
    .responsive-bg {
      background-image: url('{{ block.settings.image_mobile | image_url }}');
    }
  }

  /* Tablet */
  @media screen and (min-width: 750px) and (max-width: 1023px) {
    .responsive-bg {
      background-image: url('{{ block.settings.image_tablet | image_url }}');
    }
  }

  /* Desktop */
  @media screen and (min-width: 1024px) {
    .responsive-bg {
      background-image: url('{{ block.settings.image_desktop | image_url }}');
    }
  }
{% endstyle %}
