{% schema %}
{
  "name": "Contenido Imagen",
  "tag": "section",
  "class": "contenido-unicolumna-imagen",
  "settings": [
    {
      "type": "checkbox",
      "id": "invertir_orden",
      "label": "Align to the right",
      "default": false
    },
    {
      "type": "color",
      "id": "color_fondo",
      "label": "Background color",
      "default": "#002554"
    },
    {
      "type": "text",
      "id": "titulo",
      "label": "Title",
      "default": "This is a title"
    },
    {
          "type": "select",
           "id": "clase_titulo",
           "label": "Font family",
           "options": [
             {
               "value": "Titulo-Nickson-four-h1",
               "label": "Nickson Four"
             },
             {
               "value": "Titulo-Nickson-six-h1",
               "label": "Nickson Six"
             }   
           ],
           "default": "Titulo-Nickson-four-h1"
    },
    {
      "type": "color",
      "id": "color_titulo",
      "label": "Title color",
      "default": "#EDDEC1"
    },
    {
      "type": "text",
      "id": "subtitulo",
      "label": "Subtitle",
      "default": "This is a subtitle"
    },
    {
      "type": "select",
      "id": "clase_subtitulo",
      "label": "Font family",
      "options": [
            {
              "value": "Titulo-Nickson-four-h2",
              "label": "Nickson Four"
            },
            {
              "value": "Titulo-Nickson-six-h2",
              "label": "Nickson Six"
            }   
          ],
          "default": "Titulo-Nickson-six-h2"
        },    
    {
      "type": "color",
      "id": "color_subtitulo",
      "label": "Color subtitle",
      "default": "#C9A76D"
    },
    {
      "type": "richtext",
      "id": "texto",
      "label": "Texto",
      "default": "<p>This is an example of text</p>"
    },
    {
      "type": "color",
      "id": "color_texto",
      "label": "Color text",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "mostrar_segundo_boton",
      "label": "Show second button",
      "default": false
    },
    {
      "type": "text",
      "id": "texto_boton_1",
      "label": "Texto del Botón 1",
      "default": "More information"
    },
    {
      "type": "url",
      "id": "enlace_boton_1",
      "label": "Link button 1"
    },
    {
      "type": "color",
      "id": "color_boton_1",
      "label": "Color button 1",
      "default": "#C9A76D"
    },
    {
      "type": "color",
      "id": "color_texto_boton_1",
      "label": "Text color button 1",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "texto_boton_2",
      "label": "Text button 2",
      "default": "Contact"
    },
    {
      "type": "url",
      "id": "enlace_boton_2",
      "label": "Link button 2"
    },
    {
      "type": "color",
      "id": "color_boton_2",
      "label": "Color button 2",
      "default": "#002554"
    },
    {
      "type": "color",
      "id": "color_texto_boton_2",
      "label": "Text color button 2",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "imagen_fondo",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Contenido-unicolumna-imagen",
      "category": "Custom"
    }
  ]
}
{% endschema %}


<div class="contenido-unicolumna-imagen" 
     style="
       background-color: {{ section.settings.color_fondo }};
       flex-direction: {% if section.settings.invertir_orden %}row-reverse{% else %}row{% endif %}; ">
  <div class="contenedor-unicolumna-textodeimagen">
    <h1 class="{{ section.settings.clase_titulo }}" style="color: {{ section.settings.color_titulo }};">
      {{ section.settings.titulo }}
    </h1>
    <h2 class="{{ section.settings.clase_subtitulo }}" style="color: {{ section.settings.color_subtitulo }};" class="prueba-h1">
      {{ section.settings.subtitulo }}
    </h2>
    <div class="Texto-Poppinds-p" style="color: {{ section.settings.color_texto }};">
      {{ section.settings.texto }}
    </div>
    <div class="contenedor-unicolumna-imagen-botones">
      <a href="{{ section.settings.enlace_boton_1 }}" class="boton-portada"
         style="background-color: {{ section.settings.color_boton_1 }}; color: {{ section.settings.color_texto_boton_1 }};">
        {{ section.settings.texto_boton_1 }}
      </a>
      {% if section.settings.mostrar_segundo_boton %}
        <a href="{{ section.settings.enlace_boton_2 }}" class="boton-portada"
           style="background-color: {{ section.settings.color_boton_2 }}; color: {{ section.settings.color_texto_boton_2 }};">
          {{ section.settings.texto_boton_2 }}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="contenedor-imagen"
       style="
         background-image: url('{% if section.settings.imagen_fondo != blank %}{{ section.settings.imagen_fondo | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0355/3873/1067/files/Imagen-newsletter.jpg?v=1739889914{% endif %}');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
       ">
  </div>
</div>



{% style %}

  
{% endstyle %}

