

{% schema %}
{
  "name": "Blog Post Personalizado",
  "tag": "section",
  "class": "contenedor-blog-post-personalizado",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "enable_background_image",
      "label": "Activate background image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "titulo",
      "label": "Title",
      "default": "This is a title"
    },
    {
      "type": "select",
      "id": "clase_titulo",
      "label": "Font family",
      "options": [
        {
          "value": "Titulo-Nickson-four-h1",
          "label": "Nickson Four"
        },
        {
          "value": "Titulo-Nickson-six-h1",
          "label": "Nickson Six"
        }   
      ],
      "default": "Titulo-Nickson-four-h1"
    },
    {
      "type": "color",
      "id": "color_titulo",
      "label": "Title color",
      "default": "#002554"
    },
    {
      "type": "text",
      "id": "subtitulo",
      "label": "Subtitle",
      "default": "This is a subtitle"
    },
    {
      "type": "select",
      "id": "clase_subtitulo",
      "label": "Font family",
      "options": [
        {
          "value": "Titulo-Nickson-four-h2",
          "label": "Nickson Four"
        },
        {
          "value": "Titulo-Nickson-six-h2",
          "label": "Nickson Six"
        }   
      ],
      "default": "Titulo-Nickson-six-h2"
    },
    {
      "type": "color",
      "id": "color_subtitulo",
      "label": "Subtitle color",
      "default": "#C9A76D"
    },
    {
      "type": "richtext",
      "id": "texto",
      "label": "Text",
      "default": "<p>This is an example of text</p>"
    },
    {
      "type": "color",
      "id": "color_texto",
      "label": "Color text",
      "default": "#666666"
    },
    {
  "type": "checkbox",
  "id": "ocultar_botones",
  "label": "Ocultar sección de botones",
  "default": false
},
    {
      "type": "checkbox",
      "id": "mostrar_dos_botones",
      "label": "Show second button",
      "default": false
    },
    {
      "type": "text",
      "id": "texto_boton_1",
      "label": "Text botton 1",
      "default": "More information"
    },
    {
      "type": "url",
      "id": "enlace_boton_1",
      "label": "Link button 1"
    },
    {
      "type": "color",
      "id": "color_boton_1",
      "label": "Color botton 1",
      "default": "#002554"
    },
    {
      "type": "color",
      "id": "color_texto_boton_1",
      "label": "Texto color botton 1",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "boton_1_transparente",
      "label": "Make transparent button",
      "default": false
    },
    {
      "type": "text",
      "id": "texto_boton_2",
      "label": "Text button 2",
      "default": "Contact"
    },
    {
      "type": "url",
      "id": "enlace_boton_2",
      "label": "Link botton 2"
    },
    {
      "type": "color",
      "id": "color_boton_2",
      "label": "Color botton 2",
      "default": "#002554"
    },
    {
      "type": "color",
      "id": "color_texto_boton_2",
      "label": "Text color botton 2",
      "default": "#002554"
    },
    {
      "type": "checkbox",
      "id": "boton_2_transparente",
      "label": "Make transparent button",
      "default": true
    },
     {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 3,
      "label": "Número de posts a mostrar"
    },
    {
      "type": "color",
      "id": "divider_color",
      "label": "Division of the card",
      "default": "#CCCCCC"
    },
    {
      "type": "checkbox",
      "id": "transparent_cards",
      "label": "Make transparent card",
      "default": false
    },
    {
      "type": "color",
      "id": "card_background_color",
      "label": "Background color card",
      "default": "#F5F5F5"
    },
     {
      "type": "color",
      "id": "clase_blog_color",
      "label": "Category Color",
      "default": "#002554"
    },
    {
      "type": "color",
      "id": "date_color",
      "label": "Data color",
      "default": "#002554"
    },
     {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#002554"
    },
    {
      "type": "select",
      "id": "clase_titulo_blog",
      "label": "Font family",
      "options": [
        {
          "value": "Titulo-Nickson-four-h6",
          "label": "Nickson Four"
        },
        {
          "value": "Titulo-Nickson-six-h6",
          "label": "Nickson Six"
        }   
      ],
      "default": "Titulo-Nickson-four-h6"
    },
     {
      "type": "color",
      "id": "abstract_color",
      "label": "Abstract color",
      "default": "#666666"
    }
  ],
  "presets": [
    {
      "name": "Blog Personalizado",
      "category": "Secciones"
    }
  ]
}
{% endschema %}


<!-- CONTENEDOR PRINCIPAL -->
<div class="contenedor-blog-post-personalizado" 
     style="background-color: {{ section.settings.background_color }}; padding-top: 2rem; padding-bottom: 4rem;
            {% if section.settings.enable_background_image %}
              background-image: url('{% if section.settings.background_image != blank %}{{ section.settings.background_image | image_url }}{% else %}https://cdn.shopify.com/s/files/1/0355/3873/1067/files/Back-entradas.jpg?v=1739856668{% endif %}');
              background-size: cover;
              background-position: center;
              padding-top: 3rem;
              padding-bottom: 5rem;
              
            {% endif %}
     ">
 <!-- TITULO -->
  <div class="contenedor-interior-titulo-blog-post">
    <h1 class="{{ section.settings.clase_titulo }}" style="color: {{ section.settings.color_titulo }};">
    {{ section.settings.titulo }}
  </h1>
    <h2 class="{{ section.settings.clase_subtitulo }}"  style="color: {{ section.settings.color_subtitulo }};">
    {{ section.settings.subtitulo  }}
  </h2>
  <div class="Texto-Poppinds-p" style="color: {{ section.settings.color_texto }};">
      {{ section.settings.texto }}
  </div>
   
  </div>

  <!-- BOTONES -->
{% unless section.settings.ocultar_botones %}
  <div class="contenedor-interior-blog-botones">
    <a href="{{ section.settings.enlace_boton_1 }}" class="boton-portada"
       style="
         background-color: {% if section.settings.boton_1_transparente %} transparent {% else %} {{ section.settings.color_boton_1 }} {% endif %};
         color: {{ section.settings.color_texto_boton_1 }};
         border: 2px solid {{ section.settings.color_boton_1 }};
       ">
      {{ section.settings.texto_boton_1 }}
    </a>
    {% if section.settings.mostrar_dos_botones %}
      <a href="{{ section.settings.enlace_boton_2 }}" class="boton-portada"
         style="
           background-color: {% if section.settings.boton_2_transparente %} transparent {% else %} {{ section.settings.color_boton_2 }} {% endif %};
           color: {{ section.settings.color_texto_boton_2 }};
           border: 2px solid {{ section.settings.color_boton_2 }};
         ">
        {{ section.settings.texto_boton_2 }}
      </a>
    {% endif %}
  </div>
{% endunless %}
  
   <!-- BLOG POSTS -->
  <div class="contenedor-interior-coleccion-desplazamiento-blog">
    <div class="contenedor-interior-blog">
    {% for article in section.settings.blog.articles limit: section.settings.post_limit %}
      <div class="card-content-blog" style="background-color: {% if section.settings.transparent_cards %}transparent{% else %}{{ section.settings.card_background_color }}{% endif %};">
        <a href="{{ article.url }}">
          <img src="{{ article.image | image_url: width: 297, height: section.settings.image_height }}" alt="{{ article.title }}" class="blog-image">
        </a>
        <div class="contenedor-interior-datos-blog">
          <div class="contenedor-datos-entrada-blog">
            <div class="contenedor-autor-interior">
               <div class="circulo-adorno-autor-blog" style="background-color: {{ section.settings.clase_blog_color }}"></div>
               <p class="autor-blog" style="color: {{ section.settings.clase_blog_color }}; font-family: var(--Nickson-six), sans-serif !important; font-size: 1.8rem;">
                  <!--Author  {{ article.author }}  -->  
                 {% for tag in article.tags limit: 1 %} {{ tag }}{% endfor %}
               </p>
            </div>
            <p class="fecha-blog" style="color: {{ section.settings.date_color }}; ">{{ article.published_at | date: "%B %d, %Y" }}</p>
          </div>
          <hr class="divider" style="background-color: {{ section.settings.divider_color }}; margin-top: 0; margin-bottom: 1rem;">
          <a href="{{ article.url }}" style="text-decoration: none;">
            <h3 class="{{ section.settings.clase_titulo_blog }}" style="color: {{ section.settings.title_color }};">
              {{ article.title }}
            </h3>
          </a>
          <div class="abstract-blog Texto-Poppinds-p-pequeño-3" style="color: {{ section.settings.abstract_color }};">{{ article.excerpt | truncate: 200 }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
</div>



{%- style -%}
  
{%- endstyle -%}